.links-project::before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0%;
  height: 2px;
  background: var(--color-words-primary);
  transition: width 0.3s;
}

.links-project:hover::before {
  width: 100%;
}

.links-project {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--color-words-primary);
  gap: 4px;
  position: relative;
  font-family: var(--font-secondary) !important;
  font-size: 14px;
}

.links-project svg {
  fill: var(--color-words-primary);
  width: 14px;
}