.tags-card {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-family: var(--font-primary) !important;
  gap: 4px
}

.content-card-time {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 5px;
}

.circle-tags {
  width: 10px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  opacity: 60%;
}

.php {
  background: var(--php);
}

.javascript, .js {
  background: var(--javascript);
}

.springboot {
  background: var(--springboot);
}

.nodejs, .node {
  background: var(--nodejs);
}

.mysql {
  background: var(--mysql);
}

.mongodb {
  background: var(--mongodb);
}

.react {
  background: var(--react);
}

.html {
  background: var(--html);
}

.css {
  background: var(--css);
}

.bootstrap {
  background: var(--bootstrap);
}

.tailwind {
  background: var(--tailwind);
}

.zustand {
  background: var(--zustand);
}

.cloudinary {
  background: var(--cloudinary);
}

.python {
  background: var(--python);
}