.expand-card {
  padding: 20px;
  backdrop-filter: blur(5px);
  background-color: var(--color-backdrop);
  border-radius: 20px;
  width: 100%;
  max-width: 1400px;
  position: fixed;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 99;
}

.expand-card::-webkit-scrollbar {
  background-color: var(--color-backdrop);
  border-radius: 20px;
}

.expand-card h5 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 10px;
  font-family: var(--font-secondary);
}

.content-main-info > p {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
  font-family: var(--font-secondary);
  margin: 0;
}

.expand-card img {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  border-radius: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 95;
  opacity: 1;
}

.button-close {
  background-color: var(--hover-card);
  cursor: pointer;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 50%;
  opacity: 0.6;
  border: none;
  transition: opacity 0.3s ease;
}

.button-close:hover {
  opacity: 1;
}

.image-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.content-main-info {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: 20px;
}

.url-links-expand {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 10px;
}

.tags-expand {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 5px;
  font-size: 14px;
  flex-wrap: wrap;
}

.tags-expand p {
  margin: 0;
  font-size: 14px;
  padding: 3px 9px;
  background-color: var(--hover-card);
  border-radius: 2rem;
}

.date-expand {
  font-size: 12px !important;
}

.indications-list {
  display: flex;
  flex-direction: column;
  gap: 3px;
  font-family: var(--font-secondary);
}

@media (min-width: 768px) {
  
  .image-content-container {
    flex-direction: column;
    align-items: center;
  }
  
  .expand-card img {
    width: 100%;
  }

  .expand-card {
    width: 93%;
  }
}

@media (min-width: 1024px) {

  .image-content-container {
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
  }

  .content-main-info > p {
    font-size: 18px;
  }

  .expand-card img {
    width: 40%;
  }
}