.card {
  cursor: pointer;
  padding: 20px;
  border-radius: 10px;
  height: 100%;
  border: 1px solid var(--border-color);
  backdrop-filter: blur(1px);
  overflow: hidden;
  transition: 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.container-card {
  transition: transform 50ms ease-in-out;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.circle-ligth {
  position: absolute;
  top: -15px;
  left: -15px;
  width: 60px;
  height: 60px;
  user-select: none;
  filter: blur(50px);
  background-color: var(--color-circle-light);
  border-radius: 50%;
  /* z-index: 5; */
}


.card:hover {
  backdrop-filter: blur(20px);
  /* background: var(--hover-card); */
  /* filter: drop-shadow(0px 0px 10px var(--hover-card)); */
  box-shadow: 0px 0px 40px 0px var(--hover-card);
  z-index: 5;
}

.card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 100%;
  background-color: var(--light-color);
  animation-iteration-count: 10s;
  animation: ligthTransition 5s ease-in-out infinite;
}

@keyframes ligthTransition {
  0% {
    transform: skewX(45deg) translateX(650px);
  }
  20% {
    transform: skewX(45deg) translateX(-550px);
  }

  100% {
    transform: skewX(45deg) translateX(-550px);
  }
}

.card h2 {
  font-family: var(--font-secondary);
}

.card img {
  object-fit: cover;
  width: 100%;
  aspect-ratio: 16/9;
}

.card-urls {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.date-card {
  font-size: 12px;
  font-family: var(--font-primary) !important;
}

.description-card svg{
  fill: var(--color-words-primary);
  width: 14px;
}

.description-card {
  font-family: var(--font-secondary);
  font-size: 14px;
  text-align: justify;
}

@media (min-width: 768px) {
  .description-card  {
    font-size: 16px;
  }
}