.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-gap: 5px;
  width: 100%;
  place-items: stretch;
}

.title-project {
  font-size: 32px;
  font-weight: 700;
}

.container-list-title {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
  width: 100%;
}

.description-project, .description-project strong {
  font-size: 16px;
  font-family: var(--font-secondary);
}

@media (min-width: 768px) {
  .card-list {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 20px;
  }
}