.container-skills {
  display: grid;
  place-items:center;
  max-width: 1200px;
  margin: auto;
  min-height: 90vh;
}

.content-skills {
  width: 100%;  
}

.container-main-skills {
  padding: 20px;
}

.content-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  width: 100%;
}

.container-skills h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
  width: 100%;
}