.container-skills {
  display: grid;
  place-items:center;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

.container-skills h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
  width: 100%;
}