:root {
  --background-color: radial-gradient(circle, rgba(193, 193, 193, 0.575) 0%, rgba(224, 224, 255, 0.582) 100%);
  --color-backdrop-invert: #2727274b;
  --color-backdrop: rgb(255, 255, 255);
  --color-hover-backdrop: rgba(207, 205, 205, 0.342);
  --font-color-primary: #cfa006;
  --extra-large: 1200px;
  --large: 1024px;
  --medium: 768px;
  --small: 480px;
  --color-words-primary: #1a1a1a;
  --font-primary: 'Chillax', sans-serif;
  --font-secondary: 'General Sans', sans-serif;
  --gradient: linear-gradient(150deg, #272727 0%, #474747 10%, #c2c2c2 100%);
  --border-color: rgb(207, 205, 205);
  --hover-card: rgba(66, 66, 66, 0.185);
  --color-circle-light: rgb(44, 44, 44);
  --light-color: rgba(255, 255, 255, 0.39);
  --scroll-color: rgba(0, 0, 0, 0.301);
  --php: #8993be;
  --javascript: #f7df1e;
  --springboot: #6db33f;
  --nodejs: #83cd29;
  --mysql: #4479a1;
  --mongodb: #47a248;
  --react: #61dafb;
  --html: #e34c26;
  --css: #264de4;
  --bootstrap: #563d7c;
  --tailwind: #38b2ac;
  --git: #f34f29;
  --github: #181717;
  --mariadb: #004d64;
  --firebase: #ffae00;
  --cloudinary: #f7f7f7;
  --zustand: #ffae00;
  --python: #3776ab;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-primary)
}

.dark-mode {
  --background-color: radial-gradient(circle, rgba(42,42,42,1) 0%, rgba(18,18,18,1) 100%);;
  --color-words-primary: rgb(244, 253, 255);
  --font-color-primary: #eeb702;
  --color-backdrop-invert: rgba(255, 255, 255, 0.103);
  --color-hover-backdrop: rgba(94, 92, 92, 0.342);
  --color-backdrop: #333333;
  --gradient: linear-gradient(90deg, #3838383a 0%, #50505023 100%);
  --border-color: rgba(51, 51, 51, 0.993);
  --hover-card: rgba(199, 199, 199, 0.116);
  --color-circle-light: rgba(255, 255, 255, 0.404);
  --light-color: rgba(255, 255, 255, 0.034);
  --scroll-color: rgba(255, 255, 255, 0.301);
  --github: #dddddd;
}